.git
.github
.vscode

node_modules
vendor

storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*

.env
.env.*

docker-compose*.yml
README.md
CI.md
COOLIFY.md
tests
