@import 'tailwindcss';

@theme {
    /* Fonts */
    --font-sans: 'Geist', sans-serif;
    --font-mono: 'Geist Mono', monospace;

    /* Base Theme Colors */
    --color-black: #0a0a0a;
    --color-foreground: #fefefe;
}

@layer base {
    /* Firefox Support */
    * {
        scrollbar-width: thin;
        scrollbar-color: #27272a #09090b;
    }

    /* Webkit Support (Chrome, Safari, Edge) */
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    ::-webkit-scrollbar-track {
        background: #09090b; /* zinc-950 */
    }
    ::-webkit-scrollbar-thumb {
        background: #27272a; /* zinc-800 */
        border-radius: 0px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #3f3f46; /* zinc-700 */
    }

    /* Leaflet Overrides */
    .leaflet-container {
        font-family: inherit !important;
    }

    .leaflet-bar {
        border: 1px solid rgba(255, 255, 255, 0.2) !important;
        border-radius: 0 !important;
        box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.5) !important;
    }

    .leaflet-bar a {
        background-color: #09090b !important;
        color: white !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
        width: 32px !important;
        height: 32px !important;
        line-height: 32px !important;
        transition: background-color 0.2s;
    }

    .leaflet-bar a:hover {
        background-color: #18181b !important;
    }

    .leaflet-control-attribution {
        background: rgba(9, 9, 11, 0.8) !important;
        color: #71717a !important;
        font-size: 8px !important;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        backdrop-filter: blur(4px);
    }

    .leaflet-control-attribution a {
        color: #a1a1aa !important;
    }
}
